{block content}

<main>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <h1>{_"page.badRequested.header"}</h1>
                <p>{_"page.badRequested.text"}</p>
                <p><small>{_"page.badRequested.info"}</small></p>

            </div>
        </div>
    </div>
</main>

{/block}