<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br>
                <p class="text-muted text-center">Place footer content here.</p>
            </div>
        </div>
    </div>
</footer>
