{* This is the welcome page, you can delete it *}


{block content}
	<h1>This is a learning site!</h1>

	<h1 n:block="title">Můj blog</h1>

	<a n:href="Post:create">Napsat nový příspěvek</a>

	{foreach $posts as $post}
	<div class="post">
		<h2><a href="{link Post:show $post->id}">{$post->title}</a></h2>
	</div>
	{/foreach}
{/block}