/.idea/
/.vscode/
/node_modules/

/vendor/*
!/vendor/.htaccess
!/vendor/web.config

/log/*
!/log/.htaccess
!/log/web.config

/log-cli/*
!/log-cli/.htaccess
!/log-cli/web.config

/temp/*
!/temp/.htaccess
!/temp/web.config

/temp-cli/*
!/temp-cli/.htaccess
!/temp-cli/web.config

/www/css
/www/fonts
/www/images
/www/js
/www/sprites
/www/files

/admin/node_modules/
/admin/libs/vendor/
/admin/var/log
/admin/var/cache/selects
/admin/var/temp
/admin/var/templates_c/default
/admin/multiupload/blueimp-*

desktop.ini
.development
.stage


!.gitkeep
!.htaccess
!web.config