@mixin kill-tracy-in-response($breakpoint: xs) {
    @if $breakpoint == xs {
        $breakpoint: $screen-xs-max;
    } @elseif $breakpoint == sm {
        $breakpoint: $screen-sm-max;
    } @else {
        $breakpoint: $screen-md-max;
    }
    @media (max-width: $breakpoint) {
        #tracy-debug {
            display: none !important;
        }
    }
}
