@mixin px-to-rem($unit) {
    $result: $unit + "px: " + ($unit / $convert-unit-base) + "rem";
    body {
        position: relative;
        &:before {
            display: block;
            padding: 10px;
            content: "$font-size-base: #{$font-size-base} \a #{$result}";
            position: fixed;
            bottom: 0;
            left: 0;
            z-index: 9999;
            font-size: 12px;
            white-space: pre;
            color: $white;
            @include bg-fade($black, 0.7);
        }
    }
}
