parameters:
    https: false # true | false

services:
    # # explicit deactivation cache for devel in case of missing sqlite
    # cache.journal: no
    cacheStorage:
        class: Nette\Caching\Storages\DevNullStorage

doctrine:
    host: localhost
    user: qw10
    password: qw10
    dbname: qw10

dibi:
    driver: mysqli
    charset: utf8
    host: localhost
    database: qw10
    user: qw10
    password: qw10

mail:
    smtp: true
    host: smtp.redcat.cz
    username: smtp@q2interactive.cz
    password: q2smtp
    #secure: ssl
