//
// Bootstrap & own variables
// --------------------------------------------------


//== Colors
//
// --------------------------------------------------

$gray-lighter:                      #eee;
$black:                             #000;
$white:                             #fff;


//== Scaffolding
//
// --------------------------------------------------

$body-bg:                           $gray-lighter;
$text-color:                        $black;


//== Typography
//
// --------------------------------------------------

$font-size-base:                    1rem;


//== Iconography
//
// --------------------------------------------------

// $icon-font-path:                    "../fonts/";


//== Components
//
// --------------------------------------------------


//== Tables
//
// --------------------------------------------------


//== Buttons
//
// --------------------------------------------------


//== Forms
//
// --------------------------------------------------


//== Dropdowns
//
// --------------------------------------------------


//-- Z-index master list
//
// --------------------------------------------------


//== Media queries breakpoints
//
// --------------------------------------------------


//== Grid system
//
// --------------------------------------------------


//== Container sizes
//
// --------------------------------------------------


//== Navbar
//
// --------------------------------------------------

$navbar-height:                     60px;
$navbar-margin-bottom:              0;
$navbar-border-radius:              0;


//== Navs
//
// --------------------------------------------------


//== Pagination
//
// --------------------------------------------------


//== Pager
//
// --------------------------------------------------


//== Jumbotron
//
// --------------------------------------------------


//== Form states and alerts
//
// --------------------------------------------------


//== Tooltips
//
// --------------------------------------------------


//== Popovers
//
// --------------------------------------------------


//== Labels
//
// --------------------------------------------------


//== Modals
//
// --------------------------------------------------


//== Alerts
//
// --------------------------------------------------


//== Progress bars
//
// --------------------------------------------------


//== List group
//
// --------------------------------------------------


//== Panels
//
// --------------------------------------------------


//== Thumbnails
//
// --------------------------------------------------

$thumbnail-caption-padding:         6px;


//== Wells
//
// --------------------------------------------------


//== Badges
//
// --------------------------------------------------


//== Breadcrumbs
//
// --------------------------------------------------


//== Carousel
//
// --------------------------------------------------


//== Close
//
// --------------------------------------------------


//== Code
//
// --------------------------------------------------


//== Type
//
// --------------------------------------------------

