#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
# http://doc.nette.org/configuring
#

php:
    date.timezone: Europe/Prague
    # zlib.output_compression: yes

application:
    debugger: true # panel do Ladenky
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter

tracy:
    # email: webmaster@email.com
    strictMode: true
    maxDepth: 6
    # editor: ...
    # browser: ...
    bar: # panely do Debugger baru
        # - Nette\Bridges\ApplicationTracy\RoutingPanel
        # - Nette\Bridges\DatabaseTracy\ConnectionPanel(@database)
        # - Nette\Bridges\DITracy\ContainerPanel
        # - Nette\Bridges\HttpTracy\SessionPanel
        # - Nette\Bridges\SecurityTracy\UserPanel(@user)