services:

# controls

    slugCreatorControl: App\Components\SlugCreatorControl
    jsControl: App\Components\JsControl('%wwwDir%', '%jsControl%', '%environment%')
    cssControl: App\Components\CssControl('%wwwDir%', '%cssControl%', '%environment%')
    gaCodeControl: App\Components\GaCodeControl(@siteSettings)
    gtmCodeControl: App\Components\GtmCodeControl(@siteSettings)

# control factories

    textControlFactory: App\Components\ITextControlFactory 
    menuControlFactory: App\Components\IMenuControlFactory
    languageSwitchControlFactory:
        implement: App\Components\ILanguageSwitchControlFactory
        arguments: [%router.languageDomainSwitch%, %router.languageDomainAlias%]

# facades / models

    textFacade: App\Model\Facades\TextFacade(%siteSettings.allowLang%)
    pageFacade: App\Model\Facades\PageFacade
    menuFacade: App\Model\Facades\MenuFacade
    siteSettingFacade: App\Model\Facades\SiteSettingFacade
    translationFacade: App\Model\Facades\TranslationFacade

    databaseRouterModel: App\Services\DatabaseRouterModel(%tb_route%)

# services

    # site setting
    siteSettings: App\Services\SiteSettingService(%siteSettings%, %tempDir%)

    # router
    routerFactory: App\RouterFactory
    router: @App\RouterFactory::createRouter()

    # seo
    seo:
        class: App\Services\DatabaseRouterSeoModel(%tb_route%)
        autowired: no

    # language service
    staticLanguageService: App\Services\StaticLanguageService(@siteSettings)

    # translators
    translationService: App\AdminModule\Services\TranslationService(%siteSettings.allowLang%,'%wwwDir%/locale/')

    # doctrine table prefix subscriber
    tablePrefix:
        class: App\Subscribers\TablePrefixSubscriber(%tb_prefix%)
        tags: [kdyby.subscriber]
