<!doctype html>
<html lang="{$presenter->locale}">
    <head>
        <meta charset="utf-8">
        <title>{ifset #title}{include title} {else}{$siteSettings->get('homeTitle', $presenter->locale)} {/ifset}{$siteSettings->get('separator')} {$siteSettings->get('titleSuffix', $presenter->locale)}</title>
        {control cssControl, 'front'}
    </head>
    <body>
        {include content}

        {control jsControl, 'front'}
    </body>
</html>
