#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
# http://doc.nette.org/cs/2.2/configuring
#
parameters:
    # projectName: "name"

    # hlavni jazyk
    mainLang: "cs"

    # povolene jazyky
    allowLang:
        "cs": "Čeština"
        "en": "English"
        #"de": "Deutsch"

    # aliasy jazyku
    aliasLang:
        de: "en"
        sk: "cs"
        fr: "en"
        #nl: "de"

    # plural formy: http://docs.translatehouse.org/projects/localization-guide/en/latest/l10n/pluralforms.html
    # nutno doplnit $ a dodatecne uzavorkovat! jinak ma problem s vyhodnocenim spravneho pluralu
    plurals:
#			#cs: "$plural=($n==1) ? 0 : (($n>=2 && $n<=4) ? 1 : 2);"
#			cs: "$plural=($n==1) ? 1 : (($n>=2 && $n<=4) ? 2 : 0);"    # prehazeni poradi cisel
#			en: "$plural=($n != 1) ? 0 : 1;"
#			de: "$plural=($n != 1) ? 0 : 1;"
        # spravna verze pluralu: !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
        #cs: "$plural=($n==1) ? 0 : (($n>=2 && $n<=4) ? 1 : 2);"
        cs: "$nplurals=3; $plural=($n==1) ? 1 : (($n>=2 && $n<=4) ? 2 : 0);"   # prehazeni poradi cisel
        en: "$nplurals=2; $plural=($n != 1) ? 0 : 1;"
        de: "$nplurals=2; $plural=($n != 1) ? 0 : 1;"

    # nastaveni novinek
    news:
        itemsPerPage: 1

    # mezinarodni kody jazyku
    #tableLang:
        #"cs": cs_CZ
        #"en": en_GB
        #"de": de_DE


    # ovladani routeru
    router:
#			database: true	# zapinani databazoveho routeru
#			seo: true		# zapinani seo rozsireni routeru

        # zapina domenove prepinani jazyku
        languageDomainSwitch: false
        languageDomainAlias:
            cz: cs
            com: en
            #ru: ru


    # definice pole pro staticky router
    staticRouter:
        cs:
            #"": "Homepage:default"
            "staticky-slug": "Homepage:pokus"
            "staticky-slug1": "Homepage:pokus2"
        en:
            "static-slu": "Homepage:pokus"
            "static-slug1": "Homepage:pokus2"


php:
    date.timezone: Europe/Prague
    #zlib.output_compression: yes


application:
    debugger: true # panel do Laděnky
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter

session:
    #autoStart: true  # vychozi je smart
    expiration: 14 days
    name: mySessionName
    #session.save_path: "%tempDir%/sessions"


services:
    - \DatabaseRouterModel(prefix_route)
    - \DatabaseRouterSeoModel(prefix_route)

    # sluzba jazyku
    #- \DatabaseLanguageService(%tb_languages%, %mainLang%, %aliasLang%)
    - \StaticLanguageService(%allowLang%, %mainLang%, %aliasLang%)

    # translatory
    #- \DatabaseTranslator(%tb_translator%, NULL)
    - \DatabaseTranslator(prefix_translation, %plurals%)
    #- \NeonTranslator(%appDir%, NULL)
    #- \NeonTranslator(%appDir%, %plurals%)
    #- \DevNullTranslator

    # prepravni instance pro pouzivani 2 a vice instanci stejne databazove vrstvy
    #- \DatabaseCrate(@dibi.connection, @dibi2.connection)
    #- \DatabaseCrate(@dibi.connection)
    
    # explicitni deaktivace cache pro devel
    cacheStorage:
        class: Nette\Caching\Storages\DevNullStorage


extensions:
    dibi: Dibi\Bridges\Nette\DibiExtension22


dibi:
    driver: mysqli
    host: localhost
    database: test
    user: test
    password: test
    charset: utf8
    profiler: false
    lazy: true
