translator:
    create:
        title: "Create translations"
        success: "Translation entities were created"
        fail: "Translation entities were not created"
    generate:
        title: "Generate translations"
        success: "Translation files were generated"
        fail: "Translation files were not generated"
    regenerate:
        title: "Regenerate translations"
        success: "Translations were regenerated"
        fail: "Translations were not regenerated"
    import:
        title: "Import translations"
        success: "Translations were imported"
        fail: "Translations were not imported"
    export:
        title: "Export translations"
        success: "Translations were exported"
        fail: "Translations were not exported"
        

loginFormControl:
    createComponentForm:
        send: 'Log in'
    loginForm:
        login:
            name: 'E-mail'
            placeholder: 'This field is required.'
            required: 'You must enter your login email.'
        password:
            name: 'Password'
            placeholder: 'Your password'
            required: 'You must enter your login password.'
        rememberme:
            name: 'Remember me'
    signout:
        send: 'Log out'
        message:
            success: 'Logout was successful.'
